html,
body {
  width: 100%;
  /* font-family: 'Alegreya SC', serif; */
  font-family: 'Merriweather', serif;
  background-image: url("../img/background_img_test.jpg");
  background-attachment: fixed;
  margin: 0;
  overflow-x: hidden;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: fixed;
  z-index: 9999;
}

a {
  text-decoration: none;
}

section {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 130px;
}

.header {
  background-color: #8ac37b;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main_article {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  justify-content: center;
  height: 80vh;
}

#main_article {
  background-color: #D4DDE1;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.nav_bar {
  height: 40px;
  width: 100vw;
  background-color: #69ae57;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.kartsam {
  font-size: 2.5em;
  color: white;
}

.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.samverkan {
  font-size: 1.5em;
  color: white;
  margin-top: 5px;
}

.nav_box {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  color: white;
}

.nav_box:hover {
  background-color: #499635;
  transition: 0.2s
}

footer {
  padding: 5px;
  width: 100%;
  background-color: #69ae57;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.copyright {
  font-size: 15px;
  margin: 5px;
  color: white;
}

.hidden {
  height: 80%;
  width: 50%;
}

.pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box {
  border: 1px solid;
  height: 300px;
  width: 400px;
  background-color: white;
}

.text_part {
  height: 300px;
  max-width: 400px;
  min-width: 0;
  background-color: white;
}

.text {
  height: 300px;
  word-wrap: break-word;
  padding: 5px;
}

#map {
  height: 80%;
  z-index: 2;
}

.img_size {
  width: 33.3vw;
  height: 33.3vw;
  transition: 0.3s;
}

.img_size:hover {
  transform: scale(1.2, 1.2);
  transition: 0.5s;
}

.mainimg {
  display: flex;
  flex-direction: row;
}

.maps img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: cubic-bezier(.17, .67, .83, .67);
  transition: 1s;
}

.maps:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}

.maps {
  position: relative;
  overflow: hidden;
  width: 33.3vw;
  height: 25vw;
}

.positioning_art {
  align-items: flex-start
}

.text_block {
  /* background-color: rgba(255 , 255, 255, 0.3); */
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#img_art {
  height: 25vw;
}

.textarea {
  width: 29vw;
  text-align: center;
  font-size: 1.2em;
  position: relative;
  z-index: 0;
}

.card {
  margin: 10px;
  width: 30vw;
  height: auto;
  background-color: white;
  border-bottom: solid #8ac37b 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
#news {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
}
.news_img {
  width: 30vw;
  height: 17vw;
}
.news_hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: inherit;
  color: rgba(0, 0, 0, 0);
  transition: 0.5s;
  position: absolute;
}
.news_hover:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  color: rgba(255, 255, 255, 1)
}
.news_title {
  text-align: center;
}
.height_adj {
  height: auto;
}
.stand_list {
  width: 60vw;
}
.krav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  background-color: white;
  border-bottom: solid #8ac37b 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 10px;
}
.kartor_art {
  align-items: center;
  flex-direction: column;
}
.priser {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  background-color: white;
  border-bottom: solid #8ac37b 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 10px;
}
.standards {
  font-size: 2em;
  line-height: 0;
}
.priser p {
  line-height: 0;
}