html,
body {
  width: 100%;
  /* font-family: 'Alegreya SC', serif; */
  font-family: 'Merriweather', serif;
  background-image: url("../img/background_img_test.jpg");
  background-attachment: fixed;
  margin: 0;
  overflow-x: hidden;
}

main {
  height: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: fixed;
  z-index: 9999;
}

a {
  text-decoration: none;
}

section {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 130px;
}

.header {
  background-color: #8ac37b;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}




.nav_bar {
  height: 40px;
  width: 100vw;
  background-color: #69ae57;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: calc(100vw/6);
  top: 131px;
  color: white;
  z-index: 9999;
  background-color: #69ae57;
}
#drop_1 {
  left: calc(3*100vw/6);
}
#drop_2 {
  left: calc(2*100vw/6);
}
.drop_titles {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: calc(100vw/6);
  text-align: center;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.drop_titles:hover {
  background-color: #499635;
  transition: 0.2s
}
.dropdown h4 {
  font-weight: lighter;
}
.drop_titles a {
  text-decoration: none;
  color: white;
}

.kartsam {
  font-size: 2.5em;
  color: white;
}

.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.samverkan {
  font-size: 1.5em;
  color: white;
  margin-top: 5px;
}

.nav_box {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  color: white;
  cursor:pointer;
}

.nav_box:hover {
  background-color: #499635;
  transition: 0.2s
}

.main_article {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.skrivare {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.xerox {
  height: 35vh;

}

.text_skrivare {
  width: 70vw;
  background-color: white;
  border-bottom: solid #8ac37b 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.skrivare_row {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.margin_skrivare {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#margin_skrivare {
  margin:30px;
  width: 30vw;
}

.cert {
  display: flex;
  flex-direction: column;
}

.cert_img {
  width: 20vw;
}

.cert_text {
  margin-top: 0;
  width: 20vw;
  height: 10vh;
  background-color: white;
  border-bottom: solid #8ac37b 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}


.table_skrivare {
  background-color: white;
  border-bottom: solid #8ac37b 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  color: black;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;

}



table {
  border-collapse: collapse;
  height: 20vh;
  width: 40vw;
}

th {
   background-color: #69ae57;
   color: white;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #fff;}

footer {
  padding: 5px;
  width: 100%;
  background-color: #69ae57;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-self: flex-end;
}

.copyright {
  font-size: 15px;
  margin: 5px;
  color: white;
}
