html, body  {
  height: 100%;
  width: 100%;
  background-color: #D4DDE1;
  /*font-family: 'Alegreya SC', serif;*/
  font-family: 'Raleway', sans-serif;
  margin: 0;
}


main {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

header {
  position: fixed;
  z-index: 9999;
}

a {
  text-decoration: none;

}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 75px;
}

.header {
  background-color: #8ac37b;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main_article {
  background-color: #B1CEAE;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.kontakt_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: -30px;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
}

.kontakt_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  font-weight: normal;
  margin-top: 20px;
}

.kontakt_info {
  background-color: #D4DDE1;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  border: solid 1px;
  width: 20vw;
}

.text {
  width:50%;
  margin-left: 10px;
}

.box {
  width: 30%;
  height: 50%;
  border: 1px solid;
  margin-right: 10px;
}

.nav_bar {
  height: 40px;
  width: 100vw;
  background-color: #69ae57;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.kartsam {
  font-size: 2.5em;
  color: white;
}

.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.samverkan {
  font-size: 1.5em;
  color: white;
  margin-top: 5px;
}

.nav_box {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  color: white;
}
.nav_box:hover {
 background-color: #499635;
 transition: 0.2s
}


footer {
  height: 40px;
  width: 100%;
  background-color: #69ae57;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.copyright {
  font-size: 15px;
  margin-left: 10px;
  color: white;
}

.pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box {
  border: 1px solid;
  height: 300px;
  width: 400px;
  background-color: white;
}
.text_part {
  height: 300px;
  max-width: 400px;
  min-width: 0;
  background-color: white;
}
.text {
  height: 300px;
  word-wrap: break-word;
  padding: 5px;

.hidden {
  width: 100%;
}


#map {
height:80%;
z-index: 2;
}
