html, body  {
  height: 100%;
  width: 100%;
  font-family: 'Alegreya SC', serif;
  margin: 0;
}


main {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

header {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  position: fixed;
  z-index: 9999;
}

nav {

}


a {
  text-decoration: none;

}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 140px;
}

.header {
  background-color: #2D3033;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main_article {
  background-color: #D4DDE1;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.text {
  width:50%;
  margin-left: 10px;
}

.box {
  width: 30%;
  height: 50%;
  border: 1px solid;
  margin-right: 10px;
}

.nav_bar {
  height: 40px;
  width: 100vw;
  background-color: #2D3033;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.kartsam {
  font-size: 50px;
  margin-left: 10px;
  color: #D4DDE1;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.8);
}

.row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.samverkan {
  margin-left: 20px;
  margin-bottom:5px;
  color: rgba(212, 221, 225, 0.7);
}

.nav_box {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  color: #D4DDE1;
}
.nav_box:hover {
 background-color: rgba(248, 0, 217, 0.4);
 transition: 0.2s
}


footer {
  height: 10%;
  width: 100%;
  background-color: #2D3033;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.copyright {
  font-size: 15px;
  margin-left: 10px;
}



.hidden {
  height: 80%;
  width: 50%;
}


#map {
height:80%;
z-index: 2;
}
