html, body  {
  height: 100%;
  width: 100%;
  font-family: 'Alegreya SC', serif;
  margin: 0;
}


main {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}


header {

}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header {
  height: 25%;
  background-color: #8593AE;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}
.main_article {
  background-color: #FFF;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.text {
  width:50%;
  margin-left: 10px;
}

.box {
  width: 30%;
  height: 50%;
  border: 1px solid;
  margin-right: 10px;
}

.nav_bar {
  height: 75px;
  width: 100vw;
  background-color: #7E675E;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.kartsam {
  font-size: 50px;
  margin-left: 10px;
  margin-bottom: 0;
}

.samverkan {
  margin-left: 20px;
  margin-bottom:10px;
}

.nav_box1 {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav_box2 {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav_box3 {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav_box4 {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav_box5 {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav_box1:hover,.nav_box2:hover,.nav_box3:hover,.nav_box4:hover,.nav_box5:hover {
 background-color: #FFF;
}


footer {
  height: 10%;
  width: 100%;
  background-color: #8593AE;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.copyright {
  font-size: 15px;
  margin-left: 10px;
}
